@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?s5i3uw');
  src:  url('../fonts/icomoon.eot?s5i3uw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s5i3uw') format('truetype'),
    url('../fonts/icomoon.woff?s5i3uw') format('woff'),
    url('../fonts/icomoon.svg?s5i3uw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-barcode:before {
  content: "\e937";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-html-five:before {
  content: "\eae4";
}
