@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?s5i3uw');
  src:  url('../fonts/icomoon.eot?s5i3uw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?s5i3uw') format('truetype'),
    url('../fonts/icomoon.woff?s5i3uw') format('woff'),
    url('../fonts/icomoon.svg?s5i3uw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-check:before {
  content: "\f00c";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-lock:before {
  content: "\f023";
}
.icon-list:before {
  content: "\f03a";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-phone:before {
  content: "\f095";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-briefcase:before {
  content: "\f0af";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-circle:before {
  content: "\f111";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-wordpress:before {
  content: "\f19a";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
