html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.title {
  font-size: 36px;
  color: #000;
  text-align: center;
  margin-bottom: 25px;
  span {
    color: $btn-bg;
  }
}
.text {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #555;
  margin-bottom: 58px;
}
.breadcrumbs {
  &__list {
    li {
      display: inline-block;
      position: relative;
      & + li {
        padding-left: 24px;
        &::before {
          content: '/';
          position: absolute;
          left: 8px;
          color: #fff;
        }
      }
      a {
        color: #fff;
      }
      &:last-child {
        a,
        span {
         color: #bfcad7; 
        }
      }
    }
  }
}