$header-bg: #eef1f5;
$header-border: #253674;
$header-menu: #333333;
$header-search: #898f96;
$search-bg: #0674ec;
$main-bg: #2a4dcf;
$product-search: #676767;
$product-category: #555555;
$user: #7c7979;
$red: #ff6a6c;
$green: #62d03b;
$template-bg: #f1f3f6;
$template-color: #747b86;
$template: #7347c1;
$template-bgc: #f6f7fb;
$info: #e6f1fd;