/************************
          COLOR(S)
************************/ 
$header-bg: #eef1f3;
$header-color: #333;
$btn-bg: #0674ec;
$red: #ff6a6c;
$green: #62d03b;
$footer-bg: #262b30;

/************************
          MIXIN(S)
************************/ 
@mixin f500 {
  font-family: 'Quicksand-Medium';
  font-weight: 500;
}
@mixin f700 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}