@import "vars";
@import "global";
@import "libs";
@import "fonts";

/* custom(s) */ 
.item-author {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-position: center;
    display: inline-block;
    background-size: cover;
  }
  .profile {
    color: #000;
    font-weight: 500;
    padding-left: 6px;
    padding-right: 18px;
  }
  span {
    padding-left: 5px;
    padding-right: 18px;
  }
}
.item-category {
  padding-left: 30px;
  position: relative;
  color: $template;
  &::after {
    content: "\eab4";
    font-family: 'icomoon';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 6px;
    bottom: 0;
  }
}
.info-price-love {
  padding: 7px 16px;
  font-weight: 500;
  background-color: $info;
  color: $search-bg;
  border-radius: 30px;
  margin-right: 12px;
}
.info-rating {
  position: relative;
  color: #6f7d8d;
  font-weight: 500;
  margin-right: auto;
  padding-left: 22px;
  &::after {
    content: "\e9da";
    font-family: 'icomoon';
    position: absolute;
    width: 16px;
    height: 14px;
    left: 0;
    top: 2px;
  }
}
.info-sell {
  color: $search-bg;
  position: relative;
  padding-left: 25px;
  &::after {
    content: "\e93a";
    font-family: 'icomoon';
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 0;
  }
}



/* header */
.header {
  &__top {
    background-color: $header-bg;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
    }
  }
  &__text {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);border-radius: 30px;
    background-color: $search-bg;
    margin-left: auto;
    margin-right: 50px;
    a {
      font-size: 14px;
      padding: 10px 18px;
    }
  }
  &__menu {
    border-bottom: 1px solid $header-border;
  }
  &__profile {
    display: flex;
    align-items: center;
    &-info {
      span {
        font-size: 16px;
        line-height: 22px;
        color: #000;
        cursor: pointer;
      }
    }
    &-balance {
      display: block;
      color: $search-bg;
      margin-top: 5px;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
  }
}
.header-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 14px;
}
.alarm {
  width: 17px;
  height: 20px;
  display: inline-block;
  margin-right: 30px;
  position: relative;
  span {
    position: absolute;
    background-color: $red;
    top: -20px;
    right: -15px;
    border-radius: 15px;
    padding: 5px;
  }
}
.mail {
  width: 21px;
  height: 14px;
  display: inline-block;
  margin-right: 32px;
  position: relative;
  span {
    position: absolute;
    background-color: $green;
    top: -23px;
    right: -16px;
    border-radius: 50%;
    padding: 5px;
    min-width: 27px;
    text-align: center;
  }
}
.cart {
  width: 18px;
  height: 20px;
  display: inline-block;
  margin-right: 46px;
  position: relative;
  span {
    position: absolute;
    background-color: $search-bg;
    top: -19px;
    right: -20px;
    border-radius: 50%;
    padding: 5px;
    min-width: 27px;
    text-align: center;
  }
}
.menu {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  &__list {
    li {
      display: inline-block;
      & + li {
        margin-left: 32px;
      }
    }
  }
  a {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: $header-menu;
  }
  &__search {
    position: relative;
    input {
      display: block;
      width: 100%;
      height: 46px;
      border: 1px solid #d9dfe5;
      border-radius: 30px;
      padding-left: 24px;
      padding-right: 80px;
      outline: rgba(255, 255, 255, 0);
      &::placeholder {
        color: $header-search;
      }
    }
    button {
      position: absolute;
      border: none;
      height: 46px;
      padding: 13px 27px;
      border-radius: 30px;
      background-color: $search-bg;
      right: 0;
      top: 0;
      cursor: pointer;
      &::after {
        content: '\e986';
        font-family: 'icomoon';
        color: #fff;
      }
    }
  }
}
/* product */
.product {
  background-color: $main-bg;
  text-align: center;
  min-height: 725px;
  position: relative;
  &__inner {
    padding: 180px 0 140px;
  }
  &__title {
    margin: 0 auto;
    max-width: 810px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 24px;
    span {
      display: inline-block;
      font-weight: 700;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 65px;
  }
  &__btn {
    a {
      padding: 19px 30px;
      border: 1px solid #fff;
      border-radius: 30px;
      transition: all .3s;
      & + a {
        margin-left: 30px;
      }
      &:hover {
        background-color: #fff;
        color: $search-bg;
      }
    }
  }
  &__form {
    position: absolute;
    max-width: 1140px;
    width: 100%;
    bottom: -67px;
    right: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 6px;
    z-index: 6;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    form {
      display: flex;
    }
    padding: 40px;
    background-color: #fff;
    input {
      display: block;
      border: 1px solid #d9dfe5;
      max-width: 613px;
      width: 100%;
      padding: 0 28px;
      font-size: 16px;
      color: $product-search;
    }
    select {
      border: none;
      max-width: 193px;
      padding-left: 20px;
      width: 100%;
      border: 1px solid #d9dfe5;
      border-left: none;
      outline: rgba(255, 255, 255, 0);
      color: $product-category;
    }
    button {
      color: #fff;
      border: none;
      font-size: 16px;
      padding: 19px 65px;
      background-color: $search-bg;
      margin-left: 35px;
      cursor: pointer;
    }
    &::after, &::before {
      position: absolute;
      content: '';
      max-width: 1110px;
      width: 100%;
      background-color: rgba(255,255,255,0.5);
      height: 135px;
      top: -13px;
      right: 0;
      left: 0;
      margin: 0 auto;
      border-radius: 6px;
      z-index: -1;
    }
    &::before {
      max-width: 1080px;
      top: -26px;
    }
  }
}
/* features */
.features {
  padding: 180px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 360px;
    padding: 40px 30px 45px;
    text-align: center;
    transition: all .2s;
    &-img {
      width: 112px;
      height: 113px;
      display: block;
      margin: 0 auto;
      margin-bottom: 36px;
    }
    &-title {
      font-size: 24px;
      color: #000;
      margin-bottom: 30px;
    }
    &-text {
      font-size: 15px;
      color: $product-category;
    }
    &:hover {
      background-color: #fff;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
} 
/* work */
.work {
  background-color: $header-bg;
  &__inner {
    padding-top: 120px;
  }
  &__box {
    padding: 38px 28px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 30px;
    color: #000;
  }
} 
.slick-arrow {
  border: none;
  background: none;
  outline: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.slick-next, .slick-prev {
  position: absolute;
  right: 45px;
  top: -69px;
}
.slick-prev {
  right: 100px;
}
.work__slider-item {
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 6px;
  display: flex !important;
}
.work__slider-img {
  width: 50%;
  height: 455px;
  background-color: #4e5760;
  position: relative;
  transition: all .3s;
  &:hover .template-link {
    height: 100%;
  }
}
.work__slider-box {
  width: 50%;
  padding: 49px 46px 22px;
  background-color: #fff;
}
.work__slider-title {
  font-size: 24px;
  font-weight: 500;
  color: #000; 
  margin-bottom: 12px;
}
.work__slider-text {
  font-size: 16px;
  line-height: 30px;
  color: $product-category;
  margin-bottom: 40px;
}
.work__slider-tag {
  margin-bottom: 40px;
  button {
    padding: 8px 15px;
    border-radius: 30px;
    border: none;
    outline: rgba(255, 255, 255, 0);
    cursor: pointer;
    & + button {
      margin-left: 6px;
    }
  }
}
.work__slider-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
  padding-top: 22px;
}
.work__slider-nav {
  width: 110px;
  height: 45px;
  background-color: $template;
  border-radius: 30px;
  position: relative;
}

/* test */
.template {
  padding: 100px 0 100px;
  background-color: $template-bgc;
  &-box {
    padding: 45px 28px;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
  }
  &__title {
    font-size: 30px;
  }
  &__filter {
    padding-right: 37px;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../img/icons/filter.svg');
      width: 5px;
      height: 20px;
      top: 0;
      right: 0;
    }
  }
  &-price {
    background-color: $search-bg;
    color: #fff;
    margin-right: 17px;
  }
  &-rating {
    margin-right: 0;
    padding-right: 18px;
  }
  &-sell {
    margin-right: auto;
  }
}
.template__inner-btn {
  background-color: #fff;
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  margin-bottom: 50px;
  button {
    padding: 9px 18px;
    border: none;
    outline: rgba(255, 255, 255, 0);
    border-radius: 20px;
    background-color: $template-bg;
    color: $template-color;
    transition: all .2s;
    cursor: pointer;
    & + button {
      margin-left: 9px;
    }
    &.mixitup-control-active {
      color: #fff;
      background-color: $search-bg;
    }
  }
}
.template__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.template__item {
  max-width: 361px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  &-img {
    min-height: 230px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all .3s;
    &:hover .template-link {
      height: 100%;
    }
  }
  &-content {
    padding: 30px 27px;
    border-bottom: 1px solid #ececec;
  }
  &-title {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  &-name {
    display: flex;
  }
  &-text {
    font-size: 16px;
    line-height: 30px;
    color: $product-category;
  }
  &-info {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.template-link {
  background-image: linear-gradient(to right, #7347c1, #0674ec);
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  transition: all .3s;
  a {
    margin: 0 10px;
    padding: 15px 28px;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all .2s;
    &:hover {
      color: $search-bg;
      background-color: #fff;
    }
  }
}
.template__bottom-btn {
  margin-top: 28px;
  text-align: center;
  button {
    background-color: $search-bg;
    padding: 20px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
    outline: rgba(255, 255, 255, 0);
    border: none;
    &:hover {
      color: #000;
    }
  }
}
/* Followers */
.followers {
  background-color: $header-bg;
  &__inner {
    padding-top: 120px;
  }
  &__box {
    padding: 38px 28px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 30px;
    color: #000;
  }
} 
.followers__slider-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ececec;
  padding-top: 22px;
}
.followers__slider-nav {
  width: 110px;
  height: 45px;
  background-color: $search-bg;
  border-radius: 30px;
  position: relative;
}
/* information */
.information {
  background-color: $information;
  padding: 95px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
.information__item {
  text-align: center;
  &-info {
    position: relative;
    font-size: 36px;
    color: $information-color;
    padding-top: 94px;
    margin-bottom: 12px;
    &::after {
      position: absolute;
      content: '\e9ae';
      font-family: 'icomoon';
      font-size: 48px;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  .cloud {
    color: #58c9e9;
    &::after {
      content: "\e9c2";
    }
  }
  .smile {
    color: #77de51;
    &::after {
      content: '\e9df';
    }
  }
  .members {
    color: #ff6a6d;
    &::after {
      content: '\e972';
    }
  }
  &-text {
    font-size: 18px;
    line-height: 36px;
    color: #fff;
  }
}
/* Choose */
.choose {
  padding: 115px 0;
  background-color: #fdfdfd;
}
.choose__inner-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.choose__item {
  background-color: #fff;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  max-width: 360px;
  padding: 68px 32px 45px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  span {
    font-size: 48px;
    color: rgba(92, 135, 248, 0.2);
    font-weight: 300;
    position: absolute;
    left: 19px;
    top: 22px;
  }
  &-img {
    position: relative;
    &::after {
      content: '\e99c';
      position: absolute;
      font-size: 60px;
      color: $search-bg;
      font-family: 'icomoon';
      top: 0;
      left: 0;
      right: 0;
    }
  }
  &-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 24px; 
    padding-top: 100px;
  }
  &-text {
    font-size: 16px;
    line-height: 30px;
    color: $product-category;
  }
  .icon-magic {
    &::after {
      content: '\e997';
    }
  }
  .icon-look {
    &::after {
      content: '\e98f';
    }
  }
  .icon-bars {
    &::after {
      content: '\e99c';
    }
  }
  .icon-leaf {
    &::after {
      content: '\e9a4';
    }
  }
  .icon-phone {
    &::after {
      content: '\e958';
    }
  }
}


@import "media";
