@import "vars";
@import "global";
@import "libs";
@import "fonts";

/*******************
    START HEADER
*******************/ 
.header__top {
  background-color: $header-bg;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__text {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: $btn-bg;
  margin-left: auto;
  border-radius: 30px;
  margin-right: 50px;
  a {
    font-size: 14px;
    line-height: 28px;
    border-radius: 30px;
    padding: 4px 18px;
    color: #fff;
    transition: all .1s;
    &:hover {
      background-color: #7347c1;
    }
  }
}
.menu {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  &__list {
    li {
      display: inline-block;
      & + li {
        margin-left: 32px;
      }
    }
  }
  a {
    font-size: 15px;
    @include f500;
    color: $header-color;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
      color: $btn-bg;
    }
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__menu-search {
  position: relative;
  input {
    display: block;
    width: 360px;
    height: 46px;
    border: 1px solid #d9dfe5;
    border-radius: 30px;
    padding-left: 24px;
    padding-right: 80px;
    transition: all .5s;
    outline: rgba(255, 255, 255, 0);
    &::placeholder {
      color: #898f96;
    }
    &:focus {
      width: 500px;
    }
  }
  button {
    position: absolute;
    border: none;
    height: 46px;
    border-radius: 30px;
    background-color: $btn-bg;
    padding: 0 27px;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: all .1s;
    &::after {
      content: "\e86f";
      font-family: 'linearicons';
      font-size: 15px;
      color: #fff;
    }
    &:hover {
      background-color: #7347c1;
    }
  }
}
.header__circle {
  width: 34px;
  height: 34px;
  font-family: 'linearicons';
  position: relative;
  color: #7e8fa1;
  font-size: 20px;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  span {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    @include f500;
    font-size: 14px;
    right: -10px;
    top: -5px;
    color: #fff;
  }
}
.notification {
  span {
    width: 26px;
    background-color: $red;
  }
}
.message {
  span {
    background-color: $green;
  }
}
.basket {
  span {
    background-color: $btn-bg;
  }
}
.user {
  margin-left: 30px;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__images {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  &__info {
    line-height: 22px;
  }
  &__name {
    font-size: 16px;
    color: $header-color;
  }
  &__money {
    color: $btn-bg;
    font-size: 15px;
  }
}
.header__icon {
  position: relative;
  padding-left: 40px;
  &::before {
    content: "\e82a";
    font-family: 'linearicons';
    position: absolute;
    left: 10px;
    font-size: 15px;
  }
}
.dashboard {
  &::before {
    content: "\e800";
  }
}
.settings {
  &::before {
    content: "\e810";
  }
}
.purchases {
  &::before {
    content: "\e82e";
  }
}
.favorites {
  &::before {
    content: "\e813";
  }
}
.credits {
  &::before {
    content: "\e812";
  }
}
.state {
  &::before {
    content: "\e843";
  }
}
.upload {
  &::before {
    content: "\e866";
  }
}
.edit {
  &::before {
    content: "\e828";
  }
}
.withdrawals {
  &::before {
    content: "\e84c";
  }
}
.logout {
  &::before {
    content: "\e820";
  }
}
.user__box,
.basket__box,
.message__box,
.notification__box {
  position: relative;
  height: 100px;
  margin-top: 50px;
  &:hover {
    .user__menu {
      border-top: 1px solid $btn-bg;
      height: auto;
      padding: 20px;
      overflow: inherit;
    }
  }
}
.user__menu {
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  position: absolute;
  background-color: #fff;
  padding: 0 20px;
  width: 270px;
  top: 74px;
  left: -73px;
  z-index: 10;
  transition: all .3s;
  height: 0;
  overflow: hidden;
  a {
    color: #54667a;
    line-height: 44px;
    display: block;
    border-radius: 5px;
    transition: all .3s;
    &:hover {
      background-color: $btn-bg;
      color: #fff;
      padding: 0 40px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $btn-bg;
    top: -10px;
    right: 60px;
  }
}
.basket__box,
.message__box {
  margin-top: 62px;
  margin-left: 15px;
  &:hover {
    .basket__menu, .message__menu {
      border-top: 1px solid $btn-bg;
      overflow: inherit;
      height: auto;
    }
  }
}
.basket__images {
  margin-right: 15px;
}
.basket__menu {
  position: absolute;
  top: 67px;
  right: 0;
  z-index: 10;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  height: 0;
  overflow: hidden;
  transition: all .3s;
  &::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $btn-bg;
    top: -10px;
    right: 5px;
  }
}
.basket__item {
  background-color: #fff;
  border-bottom: 1px solid #e8ebf0;
  padding: 24px;
  display: flex;
  align-items: center;
  width: 400px;
}
.basket__info {
  display: flex;
  align-items: center;
}
.basket__info-name {
  font-size: 16px;
  @include f500;
  color: #000;
  margin-bottom: 16px;
  transition: all .3s;
  &:hover {
    color: #7347c1;
  }
}
.basket__info-theme {
  color: #7347c1;
  padding-left: 21px;
  position: relative;
  transition: all .3s;
  &:hover {
    color: $red;
  }
  &::before {
    position: absolute;
    content: '';
    background-image: url('../img/wordpress.svg');
    width: 15px;
    height: 15px;
    left: 0;
    bottom: 1px;
  }
}
.basket__info-del {
  width: 32px;
  height: 32px;
  font-family: 'linearicons';
  border-radius: 50%;
  background-color: #f1ecf9;
  position: relative;
  margin: 0 auto 10px;
  display: block;
  transition: all .1s;
  &:hover {
    background-color: $red; 
    color: #fff;
  }
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.basket__info-price {
  @include f500;
  font-size: 16px;
  line-height: 30px;
  color: $btn-bg;
  background-color: #e6f1fd;
  padding: 0 10px;
  border-radius: 30px;
}
.basket__sum {
  padding: 23px;
  background-color: #fff;
}
.basket__sum-title {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  @include f500;
}
.basket__sum-price {
  margin-left: 30px;
}
.basket__link {
  display: flex;
}
.basket__btn {
  width: 50%;
  color: #fff;
  padding: 24px;
  background-color: #7347c1;
  text-align: center;
  transition: all .5s;
  &:hover {
    background-color: $green;
  }
}
.basket__btn-checkout {
  background-color: $btn-bg;
  &:hover {
    background-color: $red;
  }
}
.message__item {
  padding: 20px 24px 18px;
  border-top: 1px solid #e8ebf0;
  position: relative;
}
.message__item-info {
  padding-left: 54px;
}
.message__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}
.message__item-author {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  a {
   font-size: 16px;
   position: relative;
   @include f500;
   color: $header-color; 
   padding-right: 30px;
   transition: all .3s;
   &:hover {
     color: #7347c1;
   }
   &::before {
     content: "\e818";
     font-family: 'linearicons';
     right: 0;
     position: absolute;
     color: $btn-bg;
     font-size: 15px;
     &:hover {

     }
   }
  }
  .message__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 14px;
  }
}
.message__menu {
  position: absolute;
  top: 69px;
  right: -15px;
  z-index: 10;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  height: 0;
  overflow: hidden;
  background-color: #fff;
  &::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $btn-bg;
    top: -10px;
    right: 21px;
  }
}
.message__box,
.notification__box {
  position: relative;
  margin-top: 60px;
  &:hover {
    .message__menu, .notification__menu {
      width: 370px;
      border-top: 1px solid $btn-bg;
      height: auto;
      overflow: inherit;
    }
  }
}
.message__item-datatime {
  color: $btn-bg;
}
.message-text {
  color: $header-color;
  transition: all .3s;
  &:hover {
    color: $btn-bg;
  }
}
.circle__menu-info {
  padding: 24px 26px 20px 24px;
  display: flex;
  justify-content: space-between;
}
.circle__menu-title {
  font-size: 18px;
}
.circle__menu-btn {
  font-size: 15px;
  color: $btn-bg;
  transition: all .3s;
  &:hover {
    color: $red;
  }
}
.notification__item {
  padding: 20px 24px 18px;
  border-top: 1px solid #e8ebf0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification__box {
  margin-top: 62px;
}
.notification__item-info {
  margin-left: 54px;
  display: flex;
  align-items: center;
}
.notification__menu {
  position: absolute;
  top: 69px;
  right: -15px;
  z-index: 10;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  height: 0;
  overflow: hidden;
  background-color: #fff;
  &::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $btn-bg;
    top: -10px;
    right: 21px;
  }
}
.lnr-icon {
  margin-left: 10px;
  &::before {
    font-family: 'linearicons';
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%; 
    width: 32px;
    height: 32px;
  }
}
.lnr-heart {
  &::before {
    background-color: #e6f1fd;
    color: $btn-bg;
  }
}
.lnr-bubble {
  &::before {
    background-color: #f1ecf9;
    color: #7347c1;
  }
}
.notif-lnr-cart {
  &::before {
    content: "\e82e";
    background-color: #fff0f0;
    color: $red;
  }
}
.lnr-star {
  &::before {
    background-color: #effaeb;
    color: $green;
  }
}
.notification__item-author {
  a {
    font-size: 16px;
    position: relative;
    @include f500;
    color: $header-color; 
    margin-bottom: 4px;
    transition: all .3s;
    &:hover {
      color: #7347c1;
    }
  }
  span {
    font-size: 15px;
    color: #747a86;
  }
}
.notification__item-suptitle {
  a {
    color: $btn-bg;
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.notification__item-datatime {
  font-size: 14px;
  color: #747a86;
}
/*******************
    END HEADER
*******************/ 
/*******************
    START PRODUCT
*******************/ 
.product {
  background-image: linear-gradient(180deg, rgba(0,48,222,1) 0%, rgba(23,69,237,1) 54%, rgba(46,90,251,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  min-height: 725px;
  position: relative;
  color: #fff;
  &__inner {
    padding: 180px 0 140px;
  }
  &__title {
    margin: 0 auto;
    max-width: 810px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 35px;
    span {
      display: inline-block;
      @include f700;
    }
  }
  &__text {
    font-size: 20px;
    @include f500;
    margin-bottom: 65px;
  }
  &__btn {
    a {
      padding: 19px 30px;
      border: 1px solid #fff;
      color: #fff;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      transition: all 0.3s;
      & + a {
        margin-left: 30px;
      }
      &:hover {
        color: $btn-bg;
        background-color: #fff;
      }
    }
  }
  &__form {
    position: absolute;
    max-width: 1140px;
    width: 100%;
    bottom: -67px;
    right: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 6px;
    z-index: 6;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    form {
      display: flex;
    }
    padding: 40px;
    background-color: #fff;
    input {
      display: block;
      border: 1px solid #d9dfe5;
      max-width: 613px;
      width: 100%;
      padding: 0 28px;
      font-size: 16px;
      outline: rgba(255, 255, 255, 0);
    }
    select {
      border: none;
      max-width: 193px;
      padding-left: 20px;
      width: 100%;
      border: 1px solid #d9dfe5;
      border-left: none;
      outline: rgba(255, 255, 255, 0);
      cursor: pointer;
    }
    button {
      color: #fff;
      border: none;
      font-size: 16px;
      padding: 19px 65px;
      margin-left: 35px;
      cursor: pointer;
      transition: all .3s;
      background-color: $btn-bg;
      &:hover {
        background-color: $red;
      }
    }
    &::after,
    &::before {
      position: absolute;
      content: "";
      max-width: 1110px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      height: 30px;
      top: -13px;
      right: 0;
      left: 0;
      margin: 0 auto;
      border-radius: 6px;
      z-index: -1;
    }
    &::before {
      max-width: 1080px;
      top: -26px;
    }
  }
}
/*******************
    END PRODUCT
*******************/ 
/*******************
    START FEATURES
*******************/ 
.features {
  padding: 180px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 360px;
    padding: 40px 34px 45px;
    text-align: center;
    transition: all 0.2s;
    &-img {
      width: 112px;
      height: 113px;
      display: block;
      margin: 0 auto;
      margin-bottom: 36px;
    }
    &-title {
      font-size: 24px;
      color: #000;
      margin-bottom: 30px;
    }
    &-text {
      font-size: 16px;
      line-height: 30px;
      color: #555;
    }
    &:hover {
      background-color: #fff;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
  }
}
/*******************
    END FEATURES
*******************/ 
/*******************
    START WORK
*******************/ 
.work {
  padding: 120px 0;
  background-color: $header-bg;
  &__box {
    padding: 38px 28px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 10px;
  }
  &__title {
    font-size: 30px;
    color: #000;
  }
}
.slick-arrow {
  border: none;
  background: none;
  outline: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.slick-next,
.slick-prev {
  font-family: 'linearicons';
  color: #fff;
  position: absolute;
  right: 40px;
  top: -71px;
  transition: all .1s;
  &:hover {
    color: #000;
  }
}
.slick-prev {
  right: 95px;
}
.work__slider-item {
  margin-top: 50px;
  border-radius: 6px;
  display: flex !important;
}
.work__slider-img {
  width: 50%;
  height: 455px;
  background-color: #4e5760;
  position: relative;
  transition: all 0.3s;
  border-radius: 10px 0 0 10px;
  &:hover .template-link {
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
}
.work__slider-box {
  width: 50%;
  padding: 49px 46px 24px;
  background-color: #fff;
  border-radius: 0px 10px 10px 0;
}
.work__slider-title {
  font-size: 24px;
  @include f500;
  color: #000;
  margin-bottom: 14px;
  transition: all .3s;
  &:hover {
    color: $red;
  }
}
.work__slider-text {
  line-height: 30px;
  margin-bottom: 34px;
  color: #555;
}
.work__slider-tag {
  margin-bottom: 40px;
  button {
    padding: 8px 15px;
    border-radius: 30px;
    background-color: #f1f3f6;
    color: #868c96;
    border: none;
    outline: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: all .3s;
    &:hover {
      background-color: $red;
      color: #fff;
    }
    & + button {
      margin-left: 6px;
    }
  }
}
.work__slider-info {
  display: flex;
  align-items: center;
  border-top: 1px solid #ececec;
  padding-top: 22px;
  font-size: 15px;
  line-height: 30px;
}
.template-price {
  background-color: $btn-bg;
  color: #fff;
  padding: 0 17px;
  border-radius: 30px;
  margin-right: 19px;
  transition: all .3s;
  &:hover {
    color: #000;
    background-color: $red;
  }
}
.template-rating {
  color: #555;
  padding-left: 26px;
  margin-right: 19px;
  position: relative;
  &::before {
    position: absolute;
    content: "\e813";
    font-family: 'linearicons';
    left: 0;
    color: #7347c1;
  }
}
.template-sell {
  padding-left: 24px;
  color: $btn-bg;
  position: relative;
  &::before {
    position: absolute;
    content: "\e82e";
    font-family: 'linearicons';
    left: 0;
    color: $btn-bg;
  }
}
.rate-star {
  margin-left: auto;
}
.work__slider-nav {
  width: 110px;
  height: 45px;
  border-radius: 30px;
  position: relative;
  background-color: #7347c1;
}
.item-author{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.avatar {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}
.profile {
  font-size: 15px;
  color: #000;
  margin-right: 21px;
  transition: all .2s;
  &:hover {
    color: $green;
  }
}
.item-category {
  font-size: 15px;
  color: #7347c1;
  padding-left: 25px;
  position: relative;
  transition: all .2s;
  &:hover {
    color: #feb71d;
  }
  &::before {
    position: absolute;
    content: '';
    background-image: url('../img/wordpress.svg');
    width: 15px;
    height: 15px;
    left: 0;
    bottom: 1px;
  }
}
.template-link {
  background-image: linear-gradient(180deg, rgba(6,116,236,1) 0%, rgba(61,94,215,1) 46%, rgba(115,71,193,1) 100%);
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s;
  a {
    margin: 0 10px;
    padding: 15px 28px;
    color: #fff;
    @include f500;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: all 0.2s;
    &:hover {
      color: $btn-bg;
      background-color: #fff;
    }
  }
}
/*******************
    END WORK
*******************/ 
/*******************
    START TEMPLATE
*******************/ 
.template {
  background-color: #f6f7fb;
  padding: 100px 0 100px;
  &-box {
    padding: 45px 28px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
  }
  &__title {
    font-size: 30px;
  }
  &__filter {
    padding-right: 30px;
    position: relative;
    color: #747b86;
    cursor: pointer;
    &::after {
      content: "";
      background-image: url('../img/filter.svg');
      position: absolute;
      width: 5px;
      color: #747b86;
      height: 20px;
      top: 0;
      right: 0;
    }
  }
  &-price {
    color: #fff;
    margin-right: 17px;
  }
  &-rating {
    margin-right: 0;
    padding-right: 18px;
  }
  &-sell {
    margin-right: auto;
  }
}
.template__inner-btn {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  margin-bottom: 50px;
  button {
    padding: 9px 18px;
    border: none;
    background-color: #f1f3f6;
    color: #747b86;
    outline: rgba(255, 255, 255, 0);
    border-radius: 20px;
    transition: all 0.2s;
    cursor: pointer;
    & + button {
      margin-left: 9px;
    }
    &.mixitup-control-active {
      background-color: $btn-bg;
      color: #fff;
    }
    &.active {
      background-color: $btn-bg;
      color: #fff;
    }
  }
}
.template__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.template__item {
  max-width: 360px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  &-img {
    min-height: 230px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s;
    &:hover .template-link {
      height: 100%;
      border-radius: 10px 10px 0 0
    }
  }
  &-content {
    padding: 26px 27px;
    border-bottom: 1px solid #ececec;
  }
  &-title {
    color: #000;
    font-size: 20px;
    @include f500;
    margin-bottom: 18px;
    transition: all .3s;
    &:hover {
      color: #7347c1;
    }
  }
  &-name {
    display: flex;
    .item-author {
      margin-bottom: 20px;
    }
    .avatar {
      width: 28px;
      height: 28px;
    }
  }
  &-text {
    font-size: 16px;
    line-height: 30px;
    color: #555;
  }
  &-info {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    .template-price {
      background-color: #e6f1fd;
      color: $btn-bg;
      @include f500;
      line-height: 30px;
      margin-right: 13px;
      &:hover {
        background-color: $red;
        color: #fff;
      }
    }
    .rate-star {
      margin-left: 0;
      margin-right: auto;
      padding: 0;
    }
    .template-sell {
      margin-right: 0;
    }
  }
}
.template__bottom-btn {
  margin-top: 28px;
  text-align: center;
  button {
    padding: 20px 30px;
    font-size: 16px;
    background-color: $btn-bg;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
    transition: all .3s;
    outline: rgba(255, 255, 255, 0);
    border: none;
    &:hover {
      background-color: $red;
    }
  }
}
/*******************
    END TEMPLATE
*******************/ 
/*******************
    START FOOTER
*******************/ 
.footer {
  background-color: $footer-bg;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 130px 0 115px;
  }
}
.footer__col {
  max-width: 265px;
  width: 100%;
  &-menu {
    max-width: 142px;
  }
  &-social {
    max-width: 360px;
  }
  &-title {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    margin-bottom: 20px;
  }
  &-text {
    color: #ababab;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 7px;
  }
}
.footer__form {
  margin-top: 32px;
  position: relative;
  input {
    border: none;
    display: block;
    width: 100%;
    height: 50px;
    color: #000;
    padding-left: 30px;
    padding-right: 120px;
    border-radius: 30px;
    outline: rgba(255, 255, 255, 0);
    &::placeholder {
      color: #ababab;
    }
  }
  button {
    position: absolute;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 17px 30px;
    height: 50px;
    top: 0;
    right: 0;
    background-color: $btn-bg;
    cursor: pointer;
    transition: all .1s;
    &:hover {
      background-color: #7347c1;
    }
  }
}
.footer__info {
  margin-top: 18px;
  padding-left: 28px;
  color: #ababab;
  position: relative;
  transition: all .2s;
  &:hover {
    color: #fff;
  }
  &::before {
    position: absolute;
    font-size: 16px;
    font-family: 'linearicons';
    color: #fff;
    left: 0;
  }
}
.footer__info-phone {
  &::before {
   content: "\e830"; 
  }
}
.footer__info-email {
  &::before {
    content: "\e818";
  }
}
.footer__info-address {
  &::before {
    content: "\e833";
    top: 8px;
  }
}
.footer__col-list {
  a {
    margin-bottom: 15px;
    color: #ababab;
    transition: all .3s;
    &:hover {
      color: #fff;
    }
  }
}
.footer__social-link {
  margin-top: 42px;
  li {
    display: inline-block;
    & + li {
      margin-left: 4px;
    }
  }
  a {
    width: 42px;
    height: 42px;
    background-image: url("../img/css_sprites.png");
    border-radius: 50%;
  }
}
.link-facebook {
  background-position: 287px -8px;
}
.link-twitter {
  background-position: 244px -8px;
}
.link-google {
  background-position: 202px -8px;
}
.link-pinterest {
  background-position: 202px -51px;
}
.link-linledin {
  background-position: 201px -93px;
}
.link-dribble {
  background-position: 159px -8px;
}
.footer__copy {
  background-color: #192027;
}
.footer__copy-text {
  text-align: center;
  color: #999;
  padding: 38px 0 40px;
  span {
    color: #fff;
  }
}
/*******************
    END FOOTER
*******************/ 

@import "media";
